footer.footer&attributes(smartLink?.itemId(footer.system.id))
    .footer__wrapper
        a(href='https://kontent.ai', rel='noreferrer', target='_blank')
            img.footer__logo(src='/learn/img/ui/logo-kontent.svg?v=1', alt='Kontent.ai')
    .footer__wrapper
        if footer
            .footer__note&attributes(smartLink?.elementCodename('copyright')) !{postprocessMarkup(footer.copyright.value, res)}
            .footer__navigation&attributes(smartLink?.elementCodename('external_links')) !{postprocessMarkup(footer.external_links.value, res)}