{
    "root": true,
    "extends": "standard",
    "rules": {
        "semi": "off",
        "indent": "off",
        "comma-dangle": "off",
        "operator-linebreak": "off",
        "space-before-function-paren": "off",
        "space-infix-ops": "off",
        "no-return-await": "off",
        "quotes": [2, "single", { "avoidEscape": true }]
    },
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "globals": {
        "grecaptcha": "writable",
        "helper": "writable",
        "helperForm": "writable",
        "helperFilter": "writable",
        "Prism": "writable",
        "searchAPI": "writable",
        "autocomplete": "writable",
        "supportsPassive": "writable",
        "$clamp": "writable",
        "UIMessages": "writable",
        "Intercom": "writable",
        "basicLightbox": "writable",
        "algoliasearch": "writable",
        "instantsearch": "writable",
        "renderReCaptcha": "writable",
        "KontentSmartLink": "writable",
        "AlgoliaAnalyticsObject": "writable",
        "videoHelper": "writable"
    }
}
