.anchor-copy {
    cursor: pointer;   
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    bottom: 0;

    .article__content--language-selector & {
        top: 41px;
    }

    &:before {
        content: '';
        background-image: url('/learn/img/ui/link.svg');
        background-size: 20px auto;
        display: block;
        width: 26px;
        height: 12px;
        padding: 3px 0;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        border-radius: 8px;
        text-align: center;
        color: #6552C4;
        position: relative;
        line-height: 16px;
        opacity: 0;
        transition: opacity .25s;
    }

    h2 & {
        &:before {
            top: .75em;
        }
    }

    h3 & {
        &:before {
            top: .5em;
        }
    }

    h4 & {
        &:before {
            top: .375em;
        }
    }

    @media screen and (min-width: 768px) {
        &:hover, h2:hover &, h3:hover &, h4:hover & {
            display: inline-block;

            &:before {
                opacity: 1;
            }
        }

        &:hover {
            text-decoration: none !important;
            &:before {
                background-color: #e8e8e8;
            }
        }
    }

    .kontent-smart-link-enabled & {
        display: none !important;
        opacity: 0 !important;
    }
}