.certification-test {
  position: relative;
  min-height: 480px;

  &__heading {
    font-size: 1.75em;
    padding: 0 0 .375em;
    line-height: 1.25em;
    font-weight: 500;

    @media screen and (min-width: 480px) {
      font-size: 2em;
    }

    @media screen and (min-width: 768px) {
      font-size: 2.5em;
    }
	}

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    background-image: url('../img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9999;

    &--hidden {
      display: none;
    }
  }

  &__timer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .75em 2em;
    background-color: #fff; 
    z-index: 6000;
    box-shadow: 0 -2px 0 0 #e8e8e8;
  }

  &__correct {
    color: green;
  }

  &__incorrect {
    color: red; 
  }
}