.landing-page {
	&__heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.125em;
    max-width: 700px;
    padding: .375em 0;

    @media screen and (min-width: 480px) {
      font-size: 42px;
      padding: .675em 0 .375em;
    }

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 56px;
      padding: .675em 0 .25em;
    }

    @media screen and (min-width: 1280px) {
      font-size: 72px;
    }
	}

	&__auth {
    padding: 0 0 16px;
    min-height: 48px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 380px) {
      flex-direction: row;
    }

    @media screen and (min-width: 768px) {
      padding: 0 0 24px;
    }

    & > * {
      margin: 0 .75em .75em 0;
    }

	}

	&__promoted {
    padding: 0 0 32px;

    @media screen and (min-width: 768px) {
      padding: 0 0 42px;
    }

    @media screen and (min-width: 1024px) {
      padding: 0 0 56px;
    }

    @media screen and (min-width: 1280px) {
      padding: 0 0 100px;
    }

    &[data-lp-promoted='loading'] {
      .tile__img,
      .tile__title,
      .tile__description,
      .tile__cta {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          border-radius: 8px 20px 20px 20px;
          top: -4px;
          left: -4px;
          right: -4px;
          bottom: -2px;
          background-color: #e8e8e9;
          background: linear-gradient(45deg, #ccc, #eee, #ccc, #eee);
          background-size: 400% 400%;
          animation: gradientLoading 6s ease infinite;
          z-index: 5000;
        }
      }

      .tile__img {
        &::after {
          border-radius: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      .tile__cta {
        cursor: default;
        overflow: visible;

        span:last-child {
          display: none;
        }
      }
    }
	}

	&__filter {
    padding: 0 0 32px;

    @media screen and (min-width: 768px) {
      padding: 0 0 42px;
    }

    @media screen and (min-width: 1024px) {
      padding: 0 0 56px;
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
      padding: 0 0 100px;
    }
	}

  &__filter-group {
    display: flex;
    flex-wrap: wrap;
  }

	&__filter-item {
    padding: 0 1em .5em 0;

    &:last-child {
      padding-right: 0;
    }
	}

	&__items {
  
	}

	&__subheading {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.125em;
    max-width: 700px;
    padding: 0 0 1em;
    text-align: center;

    @media screen and (min-width: 480px) {
      font-size: 32px;
    }

    @media screen and (min-width: 640px) {
      text-align: left;
    }

    @media screen and (min-width: 1024px) {
      font-size: 36px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 40px;
    }
	}

	&__courses {
    margin-bottom: 56px;

    @media screen and (min-width: 1024px) {
      margin-bottom: 64px;
    }
	}

  & &__courses-group {
    &--hide {
      display: none;
    }

    &--no-arrows {
      .splide, .splide__track {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  [data-lp-filter-container="mixing"] {
    .splide__arrows {
      display: none !important;
    }
  }

  .splide {
    @media screen and (min-width: 1400px) {
      margin-left: -50px;
      margin-right: -50px;
    }

    &__track {
      margin: 0 35px;

      @media screen and (min-width: 768px) {
        margin: 0 50px;
      }
    }

    &__arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -12px;
      right: -12px;
      display: flex;
      justify-content: space-between;
    }

    &__arrow {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: 0;

      svg {
        path {
          transition: all .25s;
          fill: #01D0C0;
          transform: translate(12px, 0);
        }
      }

      &[disabled] {
        visibility: hidden;
      }

      &--prev {
        svg {
          transform: rotate(180deg);
        }
      }

      &:hover, &:active {
        svg {
          path {
            fill: #231F20;
          }
        }
      }
    }
  }
}

@keyframes gradientLoading {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}