.mixitup-page-list {
    margin: 2em 0 0;
    display: flex;

    button {
        border: none;
        width: 2em;
        color: #231F20;
        background-color: transparent;
        font-family: 'Work Sans',Helvetica,Arial,sans-serif;
        padding: .75em 0 .75em 0;
        position: relative;
        outline: none;
        cursor: pointer;
        font-size: 1em;

        &:hover,
        &.filter__item--active {
            background-color: transparent;
            
            &:before {
                position: absolute;
                content: '';
                left: .5em;
                right: .5em;
                bottom: 0;
                height: 3px;
                background-color: #3DCCA8;
            }

            &:after {
                display: none;
            }
        }
    }

    .filter__next,
    .filter__prev {
        background-image: url('../img/ui/pagination-arrow.svg');
        background-position: center center;
        background-repeat: no-repeat;

        &:hover {
            &:before {
                display: none;
            }
        }
    }

    .filter__prev {
        transform: rotate(180deg);
    }
    
}

.mixitup-container-noitems {
    display: none;

    a {
        color: #6552C4;
        text-decoration: underline;

        &:hover,
        &:active {
            text-decoration: none;
        }
    }

    i {
        font-style: italic;
    }

    p {
        line-height: 1.625em;
        padding: 0 0 1em;
    }

    h3 {
        font-size: 1.375em;
        padding: .375em 0;
        font-weight: 700;
        line-height: 1.25em;
  
        @media screen and (min-width: 480px) {
            font-size: 1.5em;
        }
  
        @media screen and (min-width: 768px) {
            font-size: 1.75em;
        }
      }
  
    h4 {
        font-size: 1.25em;
        padding: .375em 0;
        line-height: 1.375em;
        font-weight: 700;
  
        @media screen and (min-width: 480px) {
            font-size: 1.375em;
        }
  
        @media screen and (min-width: 768px) {
            font-size: 1.5em;
        }
    }
}

.mixitup-container-failed {
    .mixitup-container-noitems {
        display: block;
    }
}

.mixitup-control-truncation-marker {
    line-height: 2.5em;
}
    