.question {
  padding: 0 0 2em;

	&__legend {
    font-size: 1.25em;
    padding: 0 0 .5em;
	}

  &__label {
    display: block;
    font-size: 1.25em;
    padding: 0 0 .5em;
  }

	&__answers {

	}

}