.user-panel {
  background-color: #fff;
  box-shadow: 0 0 2.25em rgba(0, 0, 0, .25);
  border-radius: 40px 4px 40px 40px;
  box-sizing: border-box;
  width: 275px;
  padding: 1.75em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  text-align: left;
  
  @media screen and (min-width: 480px) {
    width: 430px;
    padding: 1.75em 2.25em;
  }

  @media screen and (min-width: 768px) {
    width: 590px;
    padding: 2em 2.75em;
  }

  position: absolute;
  top: ~"calc(100% + .5em)";
  right: 0;

  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity .25s, visibility 0s linear .25s;

  &--active {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition: opacity .25s, visibility 0s linear 0s;
  }

  &:not([data-user-profile-content]),
  .user-panel__e-learning:not([data-user-profile-content]) {
    &::after {
      content: '';
      position: absolute;
      border-radius: 8px 20px 20px 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;
      width: 150px;
      height: 24px;
      background-color: #e8e8e9;
      background: linear-gradient(45deg, #bbb, #eee, #bbb, #eee);
      background-size: 400% 400%;
      animation: gradientLoading 6s ease infinite;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1em;

    @media screen and (min-width: 480px) {
      flex-direction: row;
    }

    @media screen and (min-width: 768px) {
      padding: 0 0 1.25em;
    }

    &--no-spacing,
    &:last-child {
      padding: 0;
    }
  }

  &__column {
    width: 100%;

    &--flex {
      display: flex;
      flex-wrap: wrap;
    }

    &:last-child:not(:first-child) {
      text-align: right;
      width: auto;
      padding: 0 0 0 1em;
    }
  }

  &__heading {
    font-size: 1.125em;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 0 .375em;

    @media screen and (min-width: 768px) {
      font-size: 1.25em;
    }

    &--e-learning,
    &--user {
      &::before {
        content: "\e605";
        font-family: kentico-icons;
        color: #6552c4;
        font-size: 24px;
        display: block;
        height: auto;
        position: static;
        background-color: transparent;
        transition: .25s color;
        padding: 0 .375em 0 0;
      }
    }

    &--e-learning {
      &::before {
        content: "\e713";
      }
    }
  }

  &__email {
    padding-right: 1.25em;
  }


  &__link {
    white-space: nowrap;
    color: #6552c4;
    
    &:hover {
      text-decoration: none;
    }
  }

  &__link--signout {

  }

  &__dropdown-label {
    display: flex;
    align-items: center;
    padding: .25em 1em .25em 0;
  }

  &__e-learning {
    min-height: 60px;
    position: relative;
  }

  &__topic-progress-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: ~"calc(100% - 150px - 1em)";
    }
  }

  &__progress-item {
    display: flex;
    flex-wrap: wrap;
    padding: .25em 0;
    align-items: center;

    @media screen and (min-width: 768px) {
      padding: .375em 0;
    }
  }

  &__topic-name {
    width: 100%;
    padding: 0 1em .125em 0;

    @media screen and (min-width: 768px) {
      width: 150px;
      padding: 0 1em 0 0;
    }

    a& {
      color: #6552c4;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__topic-progress-num {
    width: 2em;
    padding: 0 0 0 1em;
  }

  &__topic-progress {
    width: ~"calc(100% - 3em)";
    border-radius: 10px;
    height: 12px;
    background-color: #f3f3f3;
    display: flex;

    @media screen and (min-width: 768px) {
      height: 20px;
    }
  }

  &__topic-progress-bar {
    border-radius: 10px;
    height: 12px;
    background-color: #3DCCA8;

    @media screen and (min-width: 768px) {
      height: 20px;
    }
  }

  &__subscription-report {
    padding: 1em 0 0;
    text-align: right;

    .call-to-action {
      margin: 0;
    }
  }
}

@keyframes gradientLoading {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}