style.
  @font-face {
    font-family: 'Work Sans';
    src: url('/learn/fonts/WorkSans-Medium.woff2') format('woff2'), url('/learn/fonts/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
  }

  @font-face {
    font-family: 'Work Sans';
    src: url('/learn/fonts/WorkSans-Bold.woff2') format('woff2'), url('/learn/fonts/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
  }

  @font-face {
    font-family: 'Work Sans';
    src: url('/learn/fonts/WorkSans-Black.woff2') format('woff2'), url('/learn/fonts/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap
  }

  html,
  body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 98%;
    font-family: 'Work Sans';
    color: #12120d;
  }

  .certificate {
    margin: 2.5em 2.5em 0;
    border: .375em solid #3DCCA8;
    padding: 2em;
    height: calc(100% - 7.5em);
    background-image: url('/learn/img/ui/certificate-bg.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .certificate__logo {
    width: 10em;
    padding: 0 0 8em;
  }

  .certificate__logo img {
    width: 100%;
  }

  .certificate__name {
    font-size: 3em;
    font-weight: 700;
    padding: 0 0 1em;
  }

  .certificate__name span {
    color: #3DCCA8;
  }

  .certificate__text {
    font-size: 1.375em;
    padding: 0 0 .875em;
    line-height: 1.375em;
  }

  .certificate__text--bold {
    font-weight: 700;
  }

  .certificate__username {
    font-size: 3em;
    padding: 0 0 .75em;
    color: #6552C4;
    font-weight: 900;
  }

  .certificate__id {
    font-size: .875em;
    padding: 3em 0 0;
    width: 100%;
  }

  .certificate__course {
    font-weight: 700;
    font-size: 1.375em;
    padding: 0 0 3em;
  }

  .certificate__bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    flex-wrap: wrap;
  }

  .certificate__column {
    width: 30%;
  }

  .certificate__column--wide {
    width: 35%;
  }

  .certificate__value {
    padding: 0 0 .75em;
    border-bottom: .075em solid #12120d;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .certificate__value img {
    width: 80%;
    margin: 0 auto;
  }

  .certificate__label {
    padding: .5em 0 0;
    height: 50%;
  }