extends ../includes/layout.pug
block content
  main.landing-page(id='main', data-lp)
    h1.landing-page__heading !{title}
    .landing-page__auth(data-lp-auth)
    .landing-page__promoted(data-lp-promoted)
    .landing-page__filter
    .landing-page__items
