html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title Service
    meta(name='robots', content='noindex,nofollow')
    script var auth0Config = {domain:"#{process.env['AUTH0_DOMAIN']}",clientID:"#{process.env['AUTH0_CLIENT_ID']}"}
    script(src=`/learn/js/service.min.js?v=${deployVersion}`, defer='')
  body