html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title Service check
    meta(name='robots', content='noindex,nofollow')
    link(rel='stylesheet', href='/css/service-check.min.css?v=' + deployVersion)
    script(src='/js/service-check.min.js?v=' + deployVersion, defer='')
  body