extends ../includes/layout.pug
block content
    main(id='main', data-form-survey).survey
      h1.survey__heading(data-survey='title')
      .survey__introduction(data-survey='introduction')
      .survey__questions(data-survey='questions')
      .survey__overlay
      .survey__after(data-survey='after')