extends ../includes/layout.pug
block content
    main(id='main', data-form-survey).survey&attributes(smartLink?.itemId(itemId))
      h1.survey__heading&attributes(smartLink?.elementCodename('title')) !{title}
      .survey__introduction&attributes(smartLink?.elementCodename('short_introduction'))
        | !{postprocessMarkup(introduction, res)}
      .survey__questions
        form.survey__form(action=req.originalUrl, method='post', data-survey-form)
          | !{postprocessMarkup(questions, res)}
          input.survey__hidden(type="text", id="email", name="email")
          input.survey__hidden(type="text", id="courseid", name="courseid")
          button.button.survey__button
            span Submit
            span